@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

/*@font-face {
  font-family: "Futura Hv";
  src: url(../../../assets/fonts/FutuHv.ttf);
}
*{
  font-family: "Futura Hv", sans-serif;
  z-index: 3;
}*/

.menu{
  margin-right: 20px;
}
.menu ul{
  margin: 0;
  padding: 0;
}
.menu ul li{
  display: inline;
  list-style-type: none;
  margin-left: 24px;
}
.menu ul li a{
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  flex-direction: row;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0;
  text-align: center;
  font-family: "Futura Hv", sans-serif;
}
.menu ul li a:hover{
  cursor: pointer;
  color: #E7CC5B;
  transition: 0.12s ease-in-out;
}
.menu ul li a:active{
  color: #E7CC5B;
}

@media(max-width: 975px){
  .menu{
    position: fixed;
    right: -300px;
    top:0;
    width: 260px;
    height: 100%;
    background: #222;
    transition: 0.1s linear;
    z-index: 100;
  }
  .menu ul{
    padding: 15px 0 0 40px;
  }
  .menu ul li {
    display: block;
    text-align: left;
    margin: 0;
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid #312f2f;
  }
  .menu_icon{
    display: inline-block;
    position: absolute;
    right: 45px;
    top: 45px;
    z-index: 101;
  }
  .menu_icon span {
    width: 32px;
    height: 3px;
    background: #ffffff;
    display: block;
    transition: 0.1s ease-in-out;
  }
  .menu_icon span:nth-child(2) {
    margin: 4px 0;
  }
  .menu_iconClass span:nth-child(2){
    display: none;
  }
  .menu_iconClass span:nth-child(1){
    transform: rotate(40deg);
  }
  .menu_iconClass span:nth-child(3){
    transform: rotate(-40deg);
    margin-top: -3px;
  }
  .menuClass{
    right: -20px;
    transition: 0.2s ease-in-out;
  }
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: #e9edfb;
  color: #224bcf;
  cursor: pointer;
  border-radius: .5rem;
  font-size: 1.7rem;
}

.btn:hover {
  color: #fff;
  background: #224bcf;
}



.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 9%;
  background: #224bcf;
}


.header .navbar ul {
  list-style: none;
}

.header .navbar ul li {
  position: relative;
  float: left;
}

.header .navbar ul li:hover ul {
  display: block;
}

.header .navbar ul li a {
  padding: 2rem;
  display: block;
  font-size: 1.7rem;
  color: #fff;
}

.header .navbar ul li a:hover {
  background: #fa1d86;
}

.header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 20rem;
  background: #224bcf;
  display: none;
}

.header .navbar ul li ul li {
  width: 100%;
}

#menu-btn {
  cursor: pointer;
  color: #fff;
  font-size: 2.5rem;
  display: none;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header {
    padding: 2rem;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #224bcf;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar ul li {
    width: 100%;
  }
  .header .navbar ul li ul {
    width: 100%;
    position: relative;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
/*# sourceMappingURL=style.css.map */