<section class="heading">
    <h3>Please fill in the form...</h3>
</section>

<section class="contact">
    <div class="row">
        <form [formGroup]="textUploadForm" (ngSubmit)="submitForm()">
                <input id="serverName" name="serverName" formControlName="title" type="text" placeholder="Title" class="box">
                <div
                  *ngIf="!textUploadForm.controls['title']?.valid && (textUploadForm.controls['title']?.dirty ||textUploadForm.controls['title']?.touched)">
                  <div [hidden]="!textUploadForm.controls['title'].errors?.required">
                    Title is required!
                  </div>
                  <div [hidden]="!textUploadForm.controls['title'].errors?.minlength">
                    Min title length is 5 characters!
                  </div>
                  <div [hidden]="!textUploadForm.controls['title'].errors?.maxlength">
                    Max title length is 50 characters!
                  </div>
                </div>
          
              
                <input id="serverName" name="serverName" formControlName="text" placeholder="Text" cols="30" rows="10" type="text" class="box">
                <div
                  *ngIf="!textUploadForm.controls['text']?.valid && (textUploadForm.controls['text']?.dirty ||textUploadForm.controls['text']?.touched)">
                  <div [hidden]="!textUploadForm.controls['text'].errors?.required">
                    Text is required!
                  </div>
                  <div [hidden]="!textUploadForm.controls['text'].errors?.minlength">
                    Min text length is 100 characters!
                  </div>
                  <div [hidden]="!textUploadForm.controls['text'].errors?.maxlength">
                    Max text length is 100000 characters!
                  </div>
                </div>
              


            <div class="submit-button">
                <input type="submit" value="Submit" [disabled]="!textUploadForm.valid" class="btn">
              <!--<button mat-button type="submit" [disabled]="!textUploadForm.valid">Submit</button>-->
            </div>
            <mat-progress-spinner *ngIf="isUploading === true"
                class="example-margin"
                color="warn"
                mode="indeterminate">
                </mat-progress-spinner>
            <div *ngIf="isUploaded === true" class="result-ready-container">
                <a routerLink="/result" class="btn">Check out your result here!</a>
            </div>
          </form>
    </div>
</section>